@use "@/styles/variables.scss" as *;

.header {
  z-index: 998;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 8px;
  background-color: #efebe9;

  @include tablet {
    padding: 0;
  }

  @include desktop {
  }

  .header__top {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

    .header__title {
      display: block;
      padding-top: 10px;
      padding-bottom: 30px;
      letter-spacing: -1px;
      text-decoration: none;
      font-size: 28px;
      font-weight: 700;
      font-family: "Varela Round", sans-serif;
      color: $main-color;

      @include tablet {
        width: 400px;
        margin: 0 auto;
        padding-bottom: 0;
        text-align: center;
        font-size: 60px;
      }

      @include desktop {
        width: 500px;
        letter-spacing: 0;
      }
      
      &:hover {
        cursor: pointer;
      }
    }

    .burger-menu:hover {
      cursor: pointer;
    }

    .header__isLoggedIn {
      position: absolute;
      top: 10px;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 70px;

      @include tablet {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: space-between;
        width: 85px;
      }

      &:hover {
        cursor: pointer;
      }

      .header__boundary-line {
        width: 2px;
        height: 28px;
        margin-top: 2px;
        background-color: $gray-color-200;

        @include tablet {
          height: 35px;
        }
      }

      .header__user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 110px;

        p {
          overflow: hidden;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 500;
          font-family: "Noto Sans KR", sans-serif;
          color: $main-color;

          span {
            padding-left: 2px;
            font-size: 16px;
            color: $gray-color-300;
          }
        }

        .header__email {
          font-size: 15px;
          font-weight: 400;
          color: $gray-color-300;
        }
      }
    }

    .header__isLoggedOut {
      position: absolute;
      top: 12px;
      right: 0;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-weight: 700;
      font-family: "Metrophobic", sans-serif;

      @include tablet {
        top: 18px;
        right: 20px;
        gap: 20px;
      }

      .header__signIn {
        text-decoration: none;
        font-size: 13px;
        color: black;

        @include tablet {
          font-size: 17px;
        }

        &:hover {
          color: $sub-color;
        }
      }

      .header__signUp {
        text-decoration: none;
        font-size: 13px;
        color: black;

        @include tablet {
          font-size: 17px;
        }

        &:hover {
          color: $sub-color;
        }
      }
    }
  }
}
