@use "@/styles/variables.scss" as *;

.header {
  z-index: 998;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: #efebe9;
  border-bottom: 1px solid $gray-color-100;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
  }

  .header__top {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

    .header__title {
      display: block;
      padding-top: 10px;
      letter-spacing: -3px;
      text-decoration: none;
      font-size: 47px;
      font-weight: 700;
      font-family: "Varela Round", sans-serif;
      color: $main-color;

      &:hover {
        cursor: pointer;
      }

      @include tablet {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        font-size: 60px;
      }

      @include desktop {
        width: 500px;
        letter-spacing: 0;
      }
    }

    .burger-menu:hover {
      cursor: pointer;
    }

    .header__btn {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      @include tablet {
        top: 20px;
        gap: 20px;
        font-size: 24px;
      }

      @include desktop {
        top: 20px;
        gap: 20px;
        font-size: 24px;
      }

      .header__signIn {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        font-family: "Metrophobic", sans-serif;
        color: black;

        &:hover {
          color: $sub-color;
        }
      }

      .header__signUp {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        font-family: "Metrophobic", sans-serif;
        color: black;

        &:hover {
          color: $sub-color;
        }
      }
    }

    .header__userMe {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      justify-content: space-between;
      width: 85px;

      &:hover {
        cursor: pointer;
      }

      .header__boundary-line {
        width: 2px;
        height: 35px;
        margin-top: 2px;
        background-color: $gray-color-200;
      }

      .header__user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 110px;

        p {
          overflow: hidden;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 500;
          font-family: "Noto Sans KR", sans-serif;
          color: $main-color;

          span {
            padding-left: 2px;
            font-size: 16px;
            color: $gray-color-300;
          }
        }

        .header__email {
          font-size: 15px;
          font-weight: 400;
          color: $gray-color-300;
        }
      }
    }
  }

  .header__mobile-dropdown-on {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
  }

  @keyframes mobile-dropdown-on-animation {
    0% {
    }

    100% {
    }
  }

  .header__mobile-dropdown-off {
    // position: absolute;
    // top: 0px;
    // right: -250px;
    // width: 250px;
    display: none;
  }

  @keyframes mobile-dropdown-off-animation {
    0% {
    }

    100% {
    }
  }
}
