@use "@/styles/variables.scss" as *;

.pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  min-width: 260px;
  margin: 50px auto 0;

  .pagination__pages {
    display: flex;
    justify-content: center;
    gap: 2px;
    max-width: 100%;
    color: rgb(209, 209, 209);

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 27px;
      height: 27px;
      padding-bottom: 2px;
      border-radius: 4px;
      text-align: center;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;

      &:hover {
        cursor: pointer;
      }
    }
  }
}