@use "@/styles/variables.scss" as *;

// Background card section

.auth-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  @include tablet {
    flex-direction: row;
    gap: 0;
    height: 500px;
    margin: 90px auto 120px;
    padding: 20px 15px 20px 15px;
  }

  .auth-card__section {
    width: 100%;
    padding: 25px 0;

    @include tablet {
      width: 45%;
      padding: 10px;
    }

    .auth-card__title {
      position: relative;
      margin: 0;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      font-family: "Metrophobic", sans-serif;
      color: $main-color;

      @include tablet {
        margin: 20px 0 0;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        font-family: "Metrophobic", sans-serif;
        color: $main-color;
      }
    }

    .auth-card__sub-title {
      margin: 10px 0 0;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: $gray-color-200;

      @include tablet {
        font-size: 16px;
      }
    }

    .auth-card__img {
      overflow: hidden;
      position: relative;
      width: 100px;
      height: 100px;
      margin: 30px auto 0;
      border-radius: 50%;

      @include tablet {
        width: 150px;
        height: 150px;
        margin: 30px auto 0;
      }
    }

    .auto-card__ask {
      margin: 40px 0 0;
      text-align: center;
      font-family: "Metrophobic", sans-serif;
      color: $gray-color-200;
    }

    .auth-card__switch-button {
      display: block;
      width: 50%;
      height: 40px;
      margin: 17px auto 0;
      padding: 10px;
      text-align: center;
      font-weight: 600;
      border: none;
      border-radius: 10px;
      background-color: $main-color;
      color: #f6f6f6;

      &:hover {
        cursor: pointer;
        background-color: $gray-color-200;
        color: #f6f6f6;
      }
    }
  }
}

// Input card section

.auth-card__form-box {
  position: absolute;
  top: 20px;
  left: -5%;
  width: 110%;
  height: 48%;
  margin: 0 auto;
  padding: 15px 20px 15px;
  border-radius: 8px;
  background-color: $sub-color;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  .auth-card__current-form {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: "Metrophobic", sans-serif;
    color: #f6f6f6;

    @include tablet {
      letter-spacing: 2px;
      font-size: 38px;
    }
  }

  .auth-card__input-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    margin: 0 auto;
    padding-top: 55px;

    @include tablet {
      gap: 60px;
      padding-top: 100px;
    }
  }

  .auth-card__submit-button {
    width: 50%;
    height: 30px;
    margin: 12px auto 0;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
    background-color: inherit;
    color: #f6f6f6;

    @include tablet {
      height: 25px;
      margin-top: 30px;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
      color: $main-color;
    }
  }
}

//-----------------------------------------------------------

//signIn state

.signIn{
  animation-name: auth-card__signIn__animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @include tablet {
    top: -20px;
    width: 52%;
    height: 540px;
    padding: 60px 20px 60px;
    animation-name: auth-card__signIn__animation__tablet;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes auth-card__signIn__animation {
  0% {
    top: 50%;
  }

  100% {
    top: 20px;
  }
}

@keyframes auth-card__signIn__animation__tablet {
  0% {
    left: 50%;
  }

  100% {
    left: 0%;
  }
}

// signUp state

.signUp {
  animation-name: auth-card__signUp__animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @include tablet {
    top: -20px;
    left: 50%;
    width: 52%;
    height: 540px;
    padding: 60px 20px 60px;
    animation-name: auth-card__signUp__animation__tablet;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes auth-card__signUp__animation { 
    0% {
      top: 20px;
    }

    100% {
      top: 50%;
    }
  }

  @keyframes auth-card__signUp__animation__tablet {
    0% {
      left: 0%;
    }

    100% {
      left: 50%;
    }
  }

  //-----------------------------------------------------------

  .auth-card__current-form {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: "Metrophobic", sans-serif;
    color: #f6f6f6;

    @include tablet {
      font-size: 38px;
    }
  }

  .auth-card__input-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-top: 20px;

    @include tablet {
      gap: 40px;
    }
  }

  .auth-card__submit-button {
    width: 50%;
    height: 30px;
    margin: 5px auto 0;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
    background-color: inherit;
    color: #f6f6f6;

    @include tablet {
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
      color: $main-color;
    }
  }
}
