@use "@/styles/variables.scss" as *;

.combined-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-size 0.3s ease;
  -moz-transition: background-size 0.3s ease;
  -web-kit-transition: background-size 0.3s ease;

  @include tablet {
    height: 240px;
  }

  @include desktop {
    height: 265px;
  }

  &:hover {
    cursor: pointer;
    background-size: 110% 110%;
  }

  .combined-thumbnail__explantion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 10px 10px;

    @include tablet {
      width: 100%;
      padding-bottom: 15px;
    }

    @include desktop {
      width: 100%;
    }

    .combined-thumbnail__category {
      width: 120px;
      margin: 0 0 5px 0;
      padding-bottom: 5px;
      border-bottom: $gray-color-300;
      font-size: 18px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: #fff;

      @include tablet {
        margin: 0 0 8px 0;
        padding-bottom: 0;
        font-size: 26px;
      }
    }

    .combined-thumbnail__title {
      overflow: hidden;
      margin: 0 0 5px 0;
      text-overflow: ellipsis;
      text-align: start;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;
      color: #fff;

      @include tablet {
        margin: 0 0 8px 0;
        font-size: 18px;
        letter-spacing: -1px;
      }
    }

    .combined-thumbnail__content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
      text-overflow: ellipsis;
      text-align: start;
      font-size: 12px;
      font-family: "Noto Sans KR", sans-serif;
      color: #fff;

      @include tablet {
        font-size: 15px;
      }
    }
  }
}
