@use "@/styles/variables.scss" as *;

@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;

.post-action-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  width: 100%;

  .bbs-post__recommend-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
    height: 55px;
    margin: 0;
    padding: 13px 13px 13px 15px;
    background-color: #fff;
    border: 1px solid $gray-color-100;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: $gray-color-300;

    &:hover {
      cursor: pointer;
    }

    .post-action-button__recomment-count {
      padding-bottom: 1px;
      font-size: 19px;
      font-weight: 600;
      font-family: 'Noto Sans KR', sans-serif;
      color: $sub-color;
    }
  }

  .post-action-button__management {
    position: absolute;
    right: 0;

    .post-action-button__edit,
    .post-action-button__delete {
      position: relative;
      top: 5px;
      background-color: inherit;
      border: none;
      font-size: 14px;
      font-family: 'Noto Sans KR', sans-serif;
      color: $gray-color-300;
  
      &:hover {
        cursor: pointer;
        color: $sub-color;
      }
    }
  }
}