@use "@/styles/variables.scss" as *;

.container {
  width: 100%;

  // mobile

  .action-box--mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 12px;
    border-bottom: 1px solid $gray-color-100;

    .title--mobile {
      position: absolute;
      left: calc(50% - 25px);
      width: 50px;
      letter-spacing: 1px;
      font-family: "Noto Sans KR", sans-serif;
      color: #2c2c2c;
    }

    .submit-button--mobile {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      background-color: inherit;
      border: none;
      letter-spacing: 1px;
      font-weight: 400;
      font-family: "Noto Sans KR", sans-serif;
      color: $sub-color;
    }
  }

  .main-category {
    @include tablet {
      margin: 0;
      font-size: 35px;
      font-family: "Metrophobic", serif;
      color: $main-color;
    }
  }

  // header area

  .header {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-bottom: 1px solid $gray-color-100;

    .title-input {
      margin: 0;
      padding: 0 8px;
      font-size: 15px;
      background-color: inherit;
      border: none;
      outline: none;
      font-family: "Noto Sans KR", sans-serif;
      color: #2c2c2c;

      @include tablet {
        padding: 0;
        font-size: 18px;
      }

      &::placeholder {
        font-weight: 350;
        color: $gray-color-300;
      }
    }

    .header__information {
      display: flex;
      justify-content: space-between;
      padding: 0 8px 15px;
      margin-top: 15px;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;

      @include tablet {
        margin-top: 20px;
        padding: 0 0 25px;
      }

      .header__writer-box {
        display: flex;

        .header__writer {
          font-size: 12px;
          color: $gray-color-300;

          @include tablet {
            font-size: 15px
          }
        }

        .header__writer-value {
          padding-left: 5px;
          font-size: 12px;
          color: $sub-color;

          @include tablet {
            font-size: 15px
          }
        }
      }

      .header__sub-category-box {
        display: flex;
        gap: 2px;

        .header__division {
          margin-right: 3px;
          font-size: 12px;
          color: $gray-color-300;

          @include tablet {
            font-size: 15px
          }
        }

        .header__division-boundary-line {
          position: relative;
          top: 3px;
          width: 2px;
          height: 13px;
          margin-right: 2px;
          background-color: $gray-color-200;

          @include tablet {
            top: 4px;
            height: 14px;
          }
        }

        .header__division-value {
          padding-right: 3px;
          font-size: 12px;
          color: $gray-color-300;

          @include tablet {
            font-size: 15px
          }

          &:hover {
            cursor: pointer;
          }
        }

        .header__division-value--selected {
          padding-right: 3px;
          font-size: 12px;
          color: $sub-color;

          @include tablet {
            font-size: 15px
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  // content area

  .content {
    font-family: "Noto Sans KR", sans-serif;
  }

  // button area

  .button-box {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 20px;

    .cancel-button {
      width: 70px;
      letter-spacing: 1px;
      padding: 8px 0;
      border-radius: 18px;
      border: 1px solid $gray-color-200;
      text-align: center;
      letter-spacing: 2px;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;
      color: $gray-color-300;

      @include tablet {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .submit-button {
      width: 70px;
      margin-left: 15px;
      background-color: #2C2C2C;
      border-radius: 18px;
      border: none;
      letter-spacing: 2px;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;
      color: #fff;

      @include tablet {
        &:hover {
          cursor: pointer;
          background-color: $gray-color-200;
        }
      }
    }
  }
}
