@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px;
  font-family: 'Noto Sans KR', sans-serif;

  .main {
    width: 80%;

    .header {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      margin: 0 auto 30px;

      .header__title {
        margin: 0;
        font-size: 21px;
        color: #2C2C2C;
      }

      .information__box {
        display: flex;
        justify-content: space-between;
        // width: 250px;
        padding-left: 10px;
        color: #2C2C2C;
    
        .post-count {
          display: flex;
          align-items: flex-end;
          margin: 0;
          font-size: 15px;
          font-family: "Noto Sans KR", sans-serif;
    
          span {
            margin-right: 15px;
            padding-left: 5px;
            color: $sub-color;
          }
        }
    
        .current-page {
          display: flex;
          align-items: flex-end;
          margin: 0;
          font-size: 15px;
          font-family: "Noto Sans KR", sans-serif;
    
          span {
            margin-right: 5px;
            padding-left: 5px;
            color: $sub-color;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-bottom: 50px;
    }
  }
}