@use "@/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;

.my-post-page {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px;
  font-family: 'Noto Sans KR', sans-serif;

  .my-post-page__content {
    width: 80%;

    .my-post-page__title {
      margin: 0 0 30px 0;
      font-size: 24px;
      font-weight: 500;
    }

  }
}