@use "@/styles/variables.scss" as *;

.create-post {
  width: 100%;

  .create-post__main-category {
    height: 62px;
    padding-top: 8px;
    margin: 0;
    font-size: 50px;
    font-family: "Metrophobic", sans-serif;
    color: $main-color;
  }

  .create-post__header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-bottom: 1px solid $gray-color-100;

    .create-post__title {
      margin: 10px 0 5px;
      font-size: 20px;
      font-family: "Noto Sans KR", sans-serif;
      color: rgb(19, 19, 19);
      background-color: inherit;
      border: none;
      outline: none;
    }

    .create-post__details {
      display: flex;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;

      .create-post__writer {
        margin-right: 100px;
        color: $gray-color-300;

        span {
          padding-left: 5px;
          color: $sub-color;
        }
      }

      .create-post__sub-category-list {
        display: flex;
        gap: 3px;
        color: $gray-color-300;

        .create-post__division {
          margin-right: 5px;
        }

        .create-post__sub-category {
          padding-right: 3px;
          color: $gray-color-300;
          &:hover {
            cursor: pointer;
          }
        }

        .create-post__sub-category--selected {
          padding-right: 3px;
          color: $sub-color;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .create-post__content-info {
        display: flex;
        justify-content: space-between;

        p:nth-child(1) {
          color: $gray-color-300;
          width: 90px;

          span {
            text-align: center;
            color: $sub-color;
          }
        }

        p:nth-child(2) {
          color: $gray-color-300;
          width: 60px;

          span {
            padding-left: 5px;
            text-align: center;
            color: $sub-color;
          }
        }

        p:nth-child(3) {
          color: $gray-color-300;
          width: 70px;

          span {
            padding-left: 5px;
            text-align: center;
            color: $sub-color;
          }
        }
      }
    }
  }

  .create-post__content{
    padding-top: 40px;
    font-family: "Noto Sans KR", sans-serif;
  }

  .create-post__submit-btn {
    position: relative;
    left: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin-top: 70px;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;

    &:hover {
      cursor: pointer;
      background-color: $sub-color;
    }
  }
}
