@use "@/styles/variables.scss" as *;

.promote-page {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;

  .promote-page__control-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top: 1px solid $gray-color-100;
  }
}
