@use "@/styles/variables.scss" as *;

.navbar {
  z-index: 999;
  width: 100%;
  padding: 10px 0 0;
  border-top: 1px solid $gray-color-100;
  border-bottom: 1px solid $gray-color-100;

  @include tablet {
    padding-top: 30px;
    border-top: none;
  }

  .navbar__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @include tablet {
      width: 520px;
    }

    .navbar__element {
      width: 20%;
      height: 28px;
      margin: 0;
      text-align: center;
      font-size: 11px;
      font-family: "Metrophobic", sans-serif;
      font-weight: 600;
      color: #2C2C2C;

      @include tablet {
        height: 40px;
        font-size: 16px;
      }

      @include desktop {
      }

      &:hover {
        cursor: pointer;
        color: $sub-color;
      }
    }
  }
}
