@use "@/styles/variables.scss" as *;

.community-section-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 380px;

  .community-section-board__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Metrophobic", sans-serif;

    &:hover {
      cursor: pointer;
    }

    span {
      display: inline-block;
    }
  }

  .community-section-board__content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    .community-section-board__sub-category {
      list-style-type: none;
      display: flex;
      gap: 20px;
      margin: 0 0 15px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid $gray-color-100;
      font-size: 17px;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;

      td {
        color: $gray-color-300;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .community-section-board__post-list {
      list-style-type: none;
      flex-grow: 1;
      padding: 0;
      margin: 0;
    }

    .community-section-board__element {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      

      td {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 15px 0 0;
        font-family: "Noto Sans KR", sans-serif;

        span {
          padding-left: 7px;
          font-weight: 500;
          color: $sub-color;
        }

        &:hover {
          cursor: pointer;
        }
      }

      td:nth-of-type(1) {
        width: 10%;
        font-weight: 500;
        color: $sub-color;
      }

      td:nth-of-type(2) {
        overflow: hidden;
        width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
      }

      td:nth-of-type(3) {
        justify-content: flex-end;
        overflow: hidden;
        width: 30%;
        padding: 0;
        text-align: right;
        font-size: 14px;
        color: $gray-color-300;
      }
    }

    .community-section-board__element:nth-last-of-type(1) {
      margin: 0;
    }
  }
}
