@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;

  @include desktop {
    gap: 25px;
  }

  .element-wrapper {
    overflow: hidden;
    display: flex;
    gap: 8px;
    width: 100%;
    margin: 0 auto;

    @include tablet {
      gap: 20px;
      height: 280px;
    }
  }

  .element {
    width: 100%;
    flex-shrink: 0;

    @include tablet {
      width: calc((100% - 2 * 20px) / 3);
    }
  
    @include desktop {
      width: calc((100% - 3 * 20px) / 4);
    }
  }

  .element--jazzbar {
    width: calc((100% - 1 * 8px) / 2);
    flex-shrink: 0;

    @include tablet {
      width: calc((100% - 2 * 20px) / 3);
    }
  
    @include desktop {
      width: calc((100% - 3 * 20px) / 4);
    }
  }

  .dot-box {
    display: flex;
    gap: 8px;
    margin: 0 auto;

    @include tablet {
    }
  }
}
