@use "@/styles/variables.scss" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 8px;

  @include tablet {
    display: grid;
    grid-template: auto auto auto auto / 32% 32% 32%;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 25px;
    padding: 0;
  }

  @include desktop {
    grid-template: auto auto auto / 24% 24% 24% 24%;
  }

  .boundary-line {
    border-bottom: 1px solid $gray-color-100;
  }
}
