.password {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #f6f6f6;
    background-color: inherit;
    font-size: 17px;
    font-family: "Metrophobic", sans-serif;
    color: #f6f6f6;

    &::placeholder {
      color: #f6f6f6;
    }

    &:focus {
      outline: none;
    }
  }

  span {
    position: absolute;
    bottom: -30px;
    left: 0;
    padding-left: 5px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: red;
  }
}