@use "@/styles/variables.scss" as *;

.component {
  position: relative;
  padding: 0 10px 0 77px;
  border-bottom: 1px solid $gray-color-100;

  @include tablet {
    padding: 0 10px 0 100px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;

    @include tablet {
      padding-top: 10px;
    }

    .writer-info {
      margin: 0;

      .writer {
        font-size: 12px;
        font-weight: 500;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(50, 50, 50);

        @include tablet {
          font-size: 13px;
        }
      }

      .post-writer {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 500;
        font-family: "Noto Sans KR", sans-serif;
        color: $sub-color;

        @include tablet {
          font-size: 13px;
        }
      }

      .userMe-writer {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 500;
        color: rgb(255, 156, 7);

        @include tablet {
          font-size: 13px;
        }
      }
    }

    .action-tools {
      position: relative;
      padding-top: 3px;

      @include tablet {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .content {
    margin: 0;
    padding: 7px 0 13px 0;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    color: #2C2C2C;

    @include tablet {
      font-size: 15px;
    }
  }

  .bottom {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    color: $gray-color-300;

    .created-at {
      margin: 0;
      padding: 0 10px 8px 0;
      font-size: 12px;
      font-weight: 500;

      @include tablet {
        padding: 0 15px 8px 0;
        font-size: 13px;
      }
    }

    button {
      padding: 0 0 8px 0;
      background-color: inherit;
      border: none;
      font-size: 12px;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;
      color: $gray-color-300;

      @include tablet {
        font-size: 13px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
