@use "@/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
//font-family: "Varela Round", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;

.wrapper {

  .title {
    position: relative;
    margin: 30px 0 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #d1cece;;
    font-size: 40px;
    font-family: "Varela Round", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: $main-color;

    @include tablet {
      font-size: 55px;
    }
  }

  .auth-wrapper {
    position: relative;
    margin: 40px auto 150px;
    width: 90%;
    max-width: 500px;
    height: 500px;
    border-radius: 8px;
    background-color: #f6f6f6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  
    @include tablet {
      width: 90%;
      max-width: 800px;
      margin: 90px auto 120px;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px 15px 20px 15px;
  
      @include tablet {
        flex-direction: row;
      }
  
      .card__page {
        height: 220px;
        padding: 10px;
  
        @include tablet {
          width: 45%;
        }
  
        .card__page__title {
          position: relative;
          margin: 20px 0 0;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
          font-family: "Metrophobic", sans-serif;
          color: $main-color;
        }
  
        .card__page__sub-title {
          margin: 10px 0 0;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          font-family: "Metrophobic", sans-serif;
          color: #8e9aaf;
        }
  
        .img {
          position: relative;
          width: 150px;
          height: 150px;
          margin: 50px auto 0;
          border-radius: 50%;
        }
  
        .card__page__ask {
          margin: 25px 0 0;
          text-align: center;
          font-family: "Metrophobic", sans-serif;
          color: #8e9aaf;
  
          @include tablet {
            margin-top: 40px;
          }
        }
  
        .change-button {
          width: 50%;
          margin: 17px auto 0;
          padding: 10px;
          text-align: center;
          font-weight: 600;
          border: 1px solid $main-color;
          border-radius: 10px;
          color: #8e9aaf;
  
          &:hover {
            cursor: pointer;
            background-color: $main-color;
            color: #f6f6f6;
          }
        }
      }
    }

    .auth-wrapper-signIn__initial {
      position: absolute;
      top: 20px;
      left: 0;
      width: 110%;
      height: 220px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: $sub-color;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  
      @include tablet {
        top: -20px;
        width: 52%;
        height: 540px;
      }
  
      .auth-title {
        margin: 20px 0 0;
        text-align: center;
        font-size: 28px;
        font-family: "Metrophobic", sans-serif;
        color: #f6f6f6;
  
        @include tablet {
          margin-top: 60px;
          letter-spacing: 2px;
          font-size: 38px;
        }
      }
  
      .form {
        width: 80%;
        margin: 20px auto 0;
  
        @include tablet {
          margin-top: 100px;
        }
  
        .input-wrapper {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          @include tablet {
            gap: 40px;
          }
  
          .input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid #f6f6f6;
            border-radius: 4px;
            background-color: inherit;
            font-size: 17px;
            font-family: "Metrophobic", sans-serif;
            color: #f6f6f6;
  
            &::placeholder {
              font-size: 17px;
              font-family: "Metrophobic", sans-serif;
              color: #f6f6f6;
            }
  
            &:focus {
              outline: none;
            }
          }
        }
  
        .btn {
          width: 50%;
          height: 25px;
          margin: 5px auto 0;
          border: 1px solid #f6f6f6;
          border-radius: 4px;
          background-color: inherit;
          color: #f6f6f6;
  
          @include tablet {
            margin-top: 70px;
            height: 40px;
          }
  
          &:hover {
            cursor: pointer;
            background-color: #f6f6f6;
            color: $main-color;
          }
        }
      }
    }

    .auth-wrapper-signIn {
      position: absolute;
      top: 20px;
      left: -5%;
      width: 110%;
      height: 220px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: $sub-color;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      animation-name: auth-wrapper-signIn__animation;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
  
      @include tablet {
        top: -20px;
        width: 52%;
        height: 540px;
        animation-name: auth-wrapper-signIn__animation__tablet;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
  
      @keyframes auth-wrapper-signIn__animation {
        0% {
          top: 260px;
          height: 330px;
        }
  
        100% {
          top: 20px;
          height: 220px;
        }
      }
  
      @keyframes auth-wrapper-signIn__animation__tablet {
        0% {
          left: 50%;
        }
  
        100% {
          left: 0%;
        }
      }
  
      .auth-title {
        margin: 20px 0 0;
        text-align: center;
        font-size: 28px;
        font-family: "Metrophobic", sans-serif;
        color: #f6f6f6;
  
        @include tablet {
          margin-top: 60px;
          letter-spacing: 2px;
          font-size: 38px;
        }
      }
  
      .form {
        width: 80%;
        margin: 20px auto 0;
  
        @include tablet {
          margin-top: 100px;
        }
  
        .input-wrapper {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          @include tablet {
            gap: 40px;
          }
  
          .input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid #f6f6f6;
            border-radius: 4px;
            background-color: inherit;
            font-size: 17px;
            font-family: "Metrophobic", sans-serif;
            color: #f6f6f6;
  
            &::placeholder {
              font-size: 17px;
              font-family: "Metrophobic", sans-serif;
              color: #f6f6f6;
            }
  
            &:focus {
              outline: none;
            }
          }
        }
  
        .btn {
          width: 50%;
          height: 25px;
          margin: 5px auto 0;
          border: 1px solid #f6f6f6;
          border-radius: 4px;
          background-color: inherit;
          color: #f6f6f6;
  
          @include tablet {
            margin-top: 70px;
            height: 40px;
          }
  
          &:hover {
            cursor: pointer;
            background-color: #f6f6f6;
            color: $main-color;
          }
        }
      }
    }

    .auth-wrapper-signUp__initial {
      position: absolute;
      left: 50%;
      top: 20px;
      width: 110%;
      height: 220px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: $sub-color;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  
      @include tablet {
        top: -20px;
        width: 52%;
        height: 540px;
      }
  
      .auth-title {
        margin: 20px 0 0;
        text-align: center;
        font-size: 28px;
        font-family: "Metrophobic", sans-serif;
        color: #f6f6f6;
  
        @include tablet {
          margin-top: 60px;
          font-size: 38px;
        }
      }
  
      .form {
        width: 80%;
        margin: 20px auto 0;
  
        .input-wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          @include tablet {
            gap: 40px;
          }
  
          .input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid #f6f6f6;
            border-radius: 4px;
            background-color: inherit;
            font-size: 17px;
            font-family: "Metrophobic", sans-serif;
            color: #f6f6f6;
  
            &::placeholder {
              font-size: 17px;
              font-family: "Metrophobic", sans-serif;
              color: #f6f6f6;
            }
  
            &:focus {
              outline: none;
            }
          }
        }
  
        .btn {
          width: 50%;
          height: 25px;
          margin: 5px auto 0;
          border: 1px solid #f6f6f6;
          border-radius: 4px;
          background-color: inherit;
          color: #f6f6f6;
  
          @include tablet {
            height: 40px;
          }
  
          &:hover {
            cursor: pointer;
            background-color: #f6f6f6;
            color: $main-color;
          }
        }
      }
    }
  
    .auth-wrapper-signUp {
      overflow: hidden;
      position: absolute;
      left: -5%;
      top: 20px;
      width: 110%;
      height: 220px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: $sub-color;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      animation-name: auth-wrapper-signUp__animation;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
  
      @include tablet {
        top: -20px;
        width: 52%;
        height: 540px;
        animation-name: auth-wrapper-signUp__animation__tablet;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
  
      @keyframes auth-wrapper-signUp__animation {
        0% {
          top: 20px;
          height: 220px;
        }
  
        100% {
          top: 260px;
          height: 330px;
        }
      }
  
      @keyframes auth-wrapper-signUp__animation__tablet {
        0% {
          left: 0%;
        }
  
        100% {
          left: 50%;
        }
      }
  
      .auth-title {
        margin: 20px 0 0;
        text-align: center;
        font-size: 28px;
        font-family: "Metrophobic", sans-serif;
        color: #f6f6f6;
  
        @include tablet {
          margin-top: 60px;
          font-size: 38px;
        }
      }
  
      .form {
        width: 80%;
        margin: 20px auto 0;
  
        .input-wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          @include tablet {
            gap: 40px;
          }
  
          .input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid #f6f6f6;
            border-radius: 4px;
            background-color: inherit;
            font-size: 17px;
            font-family: "Metrophobic", sans-serif;
            color: #f6f6f6;
  
            &::placeholder {
              font-size: 17px;
              font-family: "Metrophobic", sans-serif;
              color: #f6f6f6;
            }
  
            &:focus {
              outline: none;
            }
          }
        }
  
        .btn {
          width: 50%;
          height: 25px;
          margin: 5px auto 0;
          border: 1px solid #f6f6f6;
          border-radius: 4px;
          background-color: inherit;
          color: #f6f6f6;
  
          @include tablet {
            height: 40px;
          }
  
          &:hover {
            cursor: pointer;
            background-color: #f6f6f6;
            color: $main-color;
          }
        }
      }
    }
  }
}
