@use "@/styles/variables.scss" as *;

.auth-page {
  max-width: 1150px;
  min-height: calc(100vh - 94px - 117px);
  margin: 0 auto;
  padding: 40px 20px 20px 20px;

  @include tablet {
    min-height: calc(100vh - 171px - 276px);
  }
}
