@use "@/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;

.navbar-dropdown {
  width: 100%;
  border-radius: 0 0 4px 4px;
  background-color: $background-color;

  .navbar-dropdown__content {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .navbar-dropdown__content__element {
      height: 40px;
      margin: 0;
      padding-top: 6px;
      background-color: $sub-color;
      text-align: center;
      letter-spacing: 2px;
      font-size: 16px;
      font-family: 'Noto Sans KR', sans-serif;
      color: #fff;
    }
  }
}