@use "@/styles/variables.scss" as *;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;
//모바일 드롭다운 카테고리 하위 폰트

.news-post-page {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;

  .news-post-page__content {
    padding: 10px;
    border-top: 2px solid rgb(158, 158, 158);
    border-radius: 0 0 10px 10px;

    .news-post-page__content__header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      padding: 0 0 5px 0;
      margin: 10px 0 30px;

      .news-post-page__content__header__title {
        margin: 0;
        font-size: 35px;
        font-weight: 600;
        font-family: 'Noto Sans KR', sans-serif;
        color: $main-color;
      }

      .news-post-page__content__header__date {
        margin: 0;
          padding-bottom: 2px;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Noto Sans KR', sans-serif;
          color: black;

        span {
          color: $sub-color;
        }
      }

    }
    .news-post-page__content__main-img {
      position: relative;
      float: right;
      width: 50%;
      max-width: 450px;
      height: 450px;
      margin: 0 0 20px 20px;
      border-radius: 4px;
    }

    .news-post-page__content__main-text {
      line-height: 1.9;
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
}
