@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  font-family: "Noto Sans KR", sans-serif;
  background-color: $main-color;

  .main {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    padding: 20px 20px 10px;

    @include tablet {
      width: 100%;
      max-width: 1150px;
      padding: 30px 20px 40px;
    }

    .main__content-box {
      display: flex;
      flex-direction: column;

      .main__division-title {
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 11px;
        font-weight: 500;
        color: #fff;

        @include tablet {
          font-size: 17px;
          font-weight: 500;
        }
      }

      .main__division-wrapper {
        list-style-type: none;
        margin: 0;
        padding: 15px 0 0;

        .main__division-element {
          display: none;
          
          @include tablet {
            display: inline-block;
            margin: 7px 0;
            text-decoration: none;
            font-size: 14px;
            color: #fff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 10px 20px 30px;
    background-color: $main-color;

    @include tablet {
      padding: 20px 20px 25px;
    }

    .bottom__copyright {
      margin: 0;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 11px;
      font-weight: 400;
      font-family: "Noto Sans KR", sans-serif;
      color: #fff;

      @include tablet {
        font-size: 13px;
      }
    }
  }
}
