@use "@/styles/variables.scss" as *;

.container {
  position: fixed;
  right: 15px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: $main-color;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  .tool-wrapper {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tool-item-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 43px;
      height: 43px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
  }
}