@use "@/styles/variables.scss" as *;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;
//모바일 드롭다운 카테고리 하위 폰트

.promote-post-page {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
}
