@use "@/styles/variables.scss" as *;

.container {
  max-width: 1150px;
  min-height: calc(100vh - 94px - 117px);
  margin: 0 auto;
  padding-top: 15px;

  @include tablet {
    max-width: 1150px;
    height: auto;
    padding: 60px 15px 60px;
  }
}
