@use "@/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;
//영어 카테고리 전용 폰트
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin: 80px auto;

  .carousel-wrapper {
    overflow: hidden;
    display: flex;
    width: 280px;
    margin: 0 auto;

    @include tablet {
      width: 580px;
      gap: 20px;
    }

    @include desktop {
      width: 580px;
      margin: 0 11.8% 0 auto;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 280px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #fff;
  
      &:hover {
        cursor: pointer;
      }
  
      .item__image {
        position: relative;
        width: 280px;
        height: 160px;
        border-radius: 5px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0));
      }
  
      .item__explantion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        padding: 0 10px 10px 10px;
  
        .item__explantion__category {
          width: 120px;
          margin: 0 0 10px 0;
          padding-bottom: 5px;
          border-bottom: 2px solid rgb(138, 131, 131);
          font-size: 22px;
          font-weight: 400;
          font-family: "Metrophobic", sans-serif;
        }
  
        .item__explantion__title {
          margin: 0 0 10px 0;
          font-size: 18px;
          font-family: "Noto Sans KR", sans-serif;
          color: rgb(28, 28, 119);
        }
  
        .item__explantion__text-box {
          font-family: "Noto Sans KR", sans-serif;
  
          .item__explantion__text-box__text {
            margin: 0;
            color: rgb(129, 124, 124);
            font-size: 15px;
          }
        }
      }
    }
  }

  .carousel-circle {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 0 auto;

    @include tablet {
      width: 60px;
    }
  }
}
