@use "@/styles/variables.scss" as *;

.overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  @include tablet {
    position: absolute;
    top: 60px;
    left: -265px;
    width: 350px;
    height: 500px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    @include tablet {
      overflow: hidden;
      height: auto;
    }

    // header area

    .header {
      height: 40px;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid $gray-color-100;
      font-size: 14px;
      font-family: "Noto Sans KR", sans-serif;

      .header__title {
        letter-spacing: 1px;
      }

      .header__count {
        padding-left: 5px;
        font-weight: 500;
        color: red;
      }
    }

    // notification element area

    .notification-box {
      overflow-y: auto;
      height: calc(100% - 40px);
      background-color: #fff;

      &::-webkit-scrollbar {
        overflow: hidden;
        width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-color-100;
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-track {
        overflow-y: hidden;
        background: inherit;
      }

      @include tablet {
        height: 460px;
      }

      .notification__element {
        position: relative;
        display: flex;
        padding: 15px;
        border-bottom: 1px solid $gray-color-100;

        &:hover {
          cursor: pointer;
          background-color: rgb(246, 246, 246);
        }

        .notifiaction__red-light {
          position: absolute;
          top: 17px;
          left: 12px;
          background-color: red;
          width: 5px;
          height: 5px;
          border-radius: 50%;
        }

        .notification__main {
          display: flex;
          flex-direction: column;
          width: 100%;

          .notification__header {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 15px;
            font-family: "Noto Sans KR", sans-serif;

            .notification__triggeredBy {
              display: flex;
              align-items: end;
              margin: 0;
              font-size: 14px;
              font-weight: 500;
              color: rgb(50, 50, 50);

              .notification__triggeredBy-span {
                padding-left: 3px;
                font-size: 13px;
                color: $gray-color-300;
              }
            }

            .notification__lapse {
              display: flex;
              align-items: end;
              margin: 0 23px 0 0;
              font-size: 12px;
              color: $gray-color-300;
            }
          }

          .notification__content {
            margin: 3px 0 0;
            padding-left: 15px;
            font-size: 13px;
            font-weight: 400;
            font-family: "Noto Sans KR", sans-serif;
            color: $gray-color-300;

            .notification__taget-title {
              overflow: hidden;
              display: inline-block;
              position: relative;
              top: 4px;
              max-width: 210px;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: $sub-color;
            }

            .notification__type {
              color: rgb(255, 156, 7);
            }
          }
        }
      }
    }
  }
}
