@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;
//영어 카테고리 전용 폰트
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;
//모바일 드롭다운 카테고리 하위 폰트

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  font-family: "Metrophobic", sans-serif;

  .mobile-category {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Metrophobic", sans-serif;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .mobile-list__item {
      display: flex;
      gap: 5px;
      padding: 0 10px 5px 10px;
      align-items: center;
      border-bottom: 1px solid rgb(138, 131, 131);

      .mobile-category-detail {
        flex-shrink: 0;
        margin: 0;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(138, 131, 131);
      }

      .mobile-title {
        overflow: hidden;
        flex-shrink: 0;
        margin: 0;
        white-space: nowrap;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(28, 28, 119);

        &:hover {
          cursor: pointer;
          color: rgb(28, 28, 119);
        }
      }

      .mobile-explan {
        overflow: hidden;
        margin: 0;
        padding-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        font-family: "Noto Sans KR", sans-serif;
      }
    }
  }
}

.tablet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 600;
  font-family: "Metrophobic", sans-serif;

  .tablet-category {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Metrophobic", sans-serif;
  }

  .tablet-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .tablet-list__item {
      display: flex;
      gap: 5px;
      padding: 0 10px 5px 10px;
      align-items: center;
      border-bottom: 1px solid rgb(138, 131, 131);

      .tablet-category-detail {
        flex-shrink: 0;
        margin: 0;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(138, 131, 131);
      }

      .tablet-title {
        overflow: hidden;
        flex-shrink: 0;
        margin: 0;
        white-space: nowrap;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(28, 28, 119);

        &:hover {
          cursor: pointer;
          color: rgb(28, 28, 119);
        }
      }

      .tablet-explan {
        overflow: hidden;
        margin: 0;
        padding-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        font-family: "Noto Sans KR", sans-serif;
      }
    }
  }
}

.desktop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 600;
  font-family: "Metrophobic", sans-serif;

  .desktop-category {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Metrophobic", sans-serif;
  }

  .desktop-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .desktop-list__item {
      display: flex;
      gap: 5px;
      padding: 0 10px 5px 10px;
      align-items: center;
      border-bottom: 1px solid rgb(138, 131, 131);

      .desktop-category-detail {
        flex-shrink: 0;
        margin: 0;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(138, 131, 131);
      }

      .desktop-title {
        overflow: hidden;
        flex-shrink: 0;
        margin: 0;
        white-space: nowrap;
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(28, 28, 119);

        &:hover {
          cursor: pointer;
          color: rgb(28, 28, 119);
        }
      }

      .desktop-explan {
        overflow: hidden;
        margin: 0;
        padding-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        font-family: "Noto Sans KR", sans-serif;
      }
    }
  }
}

