@use "@/styles/variables.scss" as *;

// deleted comment style

.comment-deleted-having-reply {
  position: relative;

  .comment__deleted-comment {
    margin: 0;
    padding: 15px 0px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    color: $gray-color-300;
    border-bottom: 1px solid $gray-color-100;
  }
}

.container {
  position: relative;
  padding: 0 10px 0 45px;
  border-bottom: 1px solid $gray-color-100;

  @include tablet {
    padding: 0 10px 0 60px;
  }

  // header area

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    font-family: "Noto Sans KR", sans-serif;

    @include tablet {
      padding-top: 10px;
    }

    .writer-wrapper {
      margin: 0;

      .writer {
        font-size: 12px;
        color: rgb(50, 50, 50);

        @include tablet {
          font-size: 14px;
        }
      }

      .post-writer {
        margin-left: 6px;
        font-size: 12px;
        color: $sub-color;

        @include tablet {
          font-size: 13px;
        }
      }

      .userMe-writer {
        margin-left: 6px;
        font-size: 12px;
        color: rgb(255, 156, 7);
        
        @include tablet {
          font-size: 13px;
        }
      }
    }

    .tool {
      position: relative;
      padding-top: 3px;

      @include tablet {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // content area

  .content {
    margin: 0;
    padding: 7px 0 13px 0;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(50, 50, 50);

    @include tablet {
      font-size: 14px;
    }
  }

  // footer area

  .footer {
    display: flex;

    .created-at {
      margin: 0;
      padding: 0 10px 8px 0;
      font-size: 12px;
      font-weight: 400;
      font-family: "Noto Sans KR", sans-serif;
      color: $gray-color-300;

      @include tablet {
        padding: 0 15px 8px 0;
        font-size: 14px;
      }
    }

    .create-reply-button {
      padding: 0 0 8px 0;
      background-color: inherit;
      border: none;
      font-size: 12px;
      font-family: "Noto Sans KR", sans-serif;
      color: $gray-color-300;

      @include tablet {
        font-size: 13px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
