@use "@/styles/variables.scss" as *;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;
//모바일 드롭다운 카테고리 하위 폰트

.comment {
  padding-top: 40px;
  font-family: "Noto Sans KR", sans-serif;

  .comment__count {
    margin: 0 0 20px;
    font-size: 16px;

    span {
      color: $sub-color;
    }
  }

  .comment__list {
    padding: 5px 0 10px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $gray-color-100;

    .comment__element {
      border-bottom: 1px solid $gray-color-100;

      .comment__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        font-family: "Noto Sans KR", sans-serif;

        .comment__writer {
          margin: 0;
          font-size: 15px;
          color: $sub-color;
        }

        .comment__created-at {
          margin: 0;
          font-size: 15px;
          color: $gray-color-300;
        }
      }

      .comment__content {
        margin: 0;
        padding: 10px 0;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .comment__writing-field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid $gray-color-100;
    border-radius: 4px;
    background-color: #fff;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;

    .comment__user {
      margin: 0;
      color: $sub-color;
    }

    .comment__input {
      resize: none;
      outline: none;
      height: 50px;
      margin-top: 10px;
      border: none;
      font-family: "Noto Sans KR", sans-serif;
    }

    .comment__btn {
      position: relative;
      left: calc(100% - 70px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 30px;
      margin-top: 10px;
      background-color: inherit;
      border: none;
      letter-spacing: 2px;
      font-size: 14px;
      font-family: "Noto Sans KR", sans-serif;
      color: $gray-color-300;

      &:hover {
        cursor: pointer;
        color: $sub-color;
      }
    }
  }
}
