@use "@/styles/variables.scss" as *;

.container {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 74px - 40px - 40px - 59px);
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;

  .not-found-message {
    margin: 0;
    padding-top: 50%;
    text-align: center;
    letter-spacing: 0.7px;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    color: $gray-color-300;
  }

  .element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 6px 8px 8px;
    margin: 0;
    border-bottom: 1px solid $gray-color-100;

    &:hover {
      cursor: pointer;
      background-color: rgb(226, 226, 226);
    }

    span {
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-family: "Noto Sans KR", sans-serif;
      color: rgb(44, 44, 44);
    }

    .writing-info {
      display: flex;
      gap: 7px;
      align-items: center;

      .writer {
        font-size: 12px;
        font-weight: 500;
        color: $sub-color;
      }

      .boundary-dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $gray-color-300;
      }

      .created-at {
        font-size: 11px;
        font-weight: 500;
      }

      .sub-category {
        font-size: 11px;
        font-weight: 500;
        color: $sub-color;
      }
    }

    .having-thumbnail-post-main {
      display: grid;
      grid-template: auto auto / auto auto;
      column-gap: 15px;
      padding-top: 10px;

      .title-wrapper {
        grid-column: 1;
        grid-row: 1;
      }

      .content-wrapper {
        grid-column: 1;
        grid-row: 2;
      }

      .thumbnial {
        grid-column: 2;
        grid-row: 1 / span 2;
        justify-self: end;
        border-radius: 10px;
      }
    }

    .not-having-thumbnail-post-main {
      padding-top: 10px;
    }

    .title-wrapper {
      .title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 450;
        color: rgb(44, 44, 44);
      }
    }

    .content-wrapper {
      padding-top: 7px;

      .content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin: 0;
        text-overflow: ellipsis;
        font-size: 13px;
        font-weight: 450;
        color: $gray-color-300;
      }
    }

    .post-info-box {
      display: flex;
      gap: 10px;
      padding-top: 10px;

      svg {
        margin-right: 5px;
      }

      .views-wrapper {
        display: flex;
        align-items: center;
        padding: 2px 9px;
        border-radius: 8px;
        background-color: rgb(101, 101, 131);

        .views {
          padding-bottom: 1px;
          color: #fff;
        }
      }

      .comment-wrapper {
        display: flex;
        align-items: center;
        padding: 2px 9px;
        border-radius: 8px;
        background-color: rgb(101, 101, 131);
        
        .comment {
          padding-bottom: 1px;
          color: #fff;
        }
      }

      .recommend-wrapper {
        display: flex;
        align-items: center;
        padding: 2px 9px;
        border-radius: 8px;
        background-color: rgb(101, 101, 131);

        .recommend {
          padding-bottom: 1px;
          color: #fff;
        }
      }
    }
  }
}