@use "@/styles/variables.scss" as *;

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
//font-family: 'Noto Sans KR', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;

* {
  box-sizing: border-box;
}

body {
  position: relative; 
  background-color: #EFEBE9;

  .ql-container {
    min-height: 550px;
    padding: 15px;
  }

  @include tablet {
    margin: 0 auto 10px;
  }
}