@use "@/styles/variables.scss" as *;


// font-family: 'Noto Sans KR', sans-serif;
// font-family: "Metrophobic", sans-serif;
// font-family: "Varela Round", sans-serif;

* {
  box-sizing: border-box;
}

body {
  position: relative; 
  background-color: #EFEBE9;

  .ql-container {
    min-height: 550px;
    padding: 15px;
  }

  @include tablet {
    margin: 0 auto 10px;
  }
}