@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 0 20px;

  @include tablet {
    padding: 40px 20px 20px;
  }

  // news section

  .news-section {
    padding: 0 8px 50px;
    border-bottom: 2px solid #747070;

    @include tablet {
      padding: 0 0 50px;
    }
  }

  // band section

  .band-section {
    padding: 30px 8px 50px;
    border-bottom: 2px solid #747070;

    @include tablet {
      padding: 40px 0 50px;
      text-align: center;
    }

    .band-section__title {
      margin: 0 0 30px 0;
      text-align: center;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: #2C2C2C;

      @include tablet {
        margin: 0 0 50px 0;
        font-size: 30px;
      }
    }

    .band-section__thumbnail-box {
      display: grid;
      grid-template: 170px 170px / 49% 49%;
      row-gap: 15px;
      justify-content: space-between;

      @include tablet {
        grid-template: 1fr 1fr / 33% 33% 33%;
      }

      @include desktop {
        grid-template: 1fr 1fr / 33% 33% 33%;
      }
    }
  }

  // album section

  .album-section {
    padding: 30px 8px 50px;
    border-bottom: 2px solid #747070;

    @include tablet {
      padding: 40px 0 50px;
      text-align: center;
    }

    .album-section__title {
      margin: 0 0 30px 0;
      text-align: center;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: #2C2C2C;

      @include tablet {
        margin: 0 0 50px 0;
        font-size: 30px;
      }
    }

    .album-section__thumbnail-box {
      display: grid;
      justify-content: space-between;
      row-gap: 15px;

      @include tablet {
        grid-template: 1fr 1fr / 32% 32% 32%;
      }

      & > :first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        @include tablet {
          height: 495px;
        }

        @include desktop {
          height: 545px;
        }
      }
    }
  }

  // jazzbar section

  .jazzbar-section {
    padding: 30px 8px 50px;
    border-bottom: 2px solid #747070;
    
    @include tablet {
      padding: 40px 0 50px;
    }

    .jazzbar-section__title {
      margin: 0 0 30px 0;
      text-align: center;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: #2C2C2C;

      @include tablet {
        margin: 0 0 50px 0;
        font-size: 30px;
      }
    }

    // .jazzbar-section__thumbnail-box {
    //   display: flex;
    //   justify-content: space-between;

    //   @include tablet {
    //     display: grid;
    //     grid-template: 1fr / 24% 24% 24% 24%;
    //     justify-content: space-between;
    //   }
    // }
  }

  // community section

  .community-section {
    display: grid;
    grid-template: auto auto / 50% 50%;
    justify-content: space-between;

    @include tablet {
      grid-template: auto auto / 45% 45%;
      padding: 40px 0 50px;
    }

    .community-section__title {
      grid-column: 1 / 3;
      margin: 0 0 50px 0;
      text-align: center;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: 600;
      font-family: "Metrophobic", sans-serif;
      color: #2C2C2C;

      @include tablet {
        margin: 0 0 60px 0;
        font-size: 30px;
      }
    }
  }

  .more-button {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin: 40px auto 0;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    @include tablet {
      width: 280px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
