@use "@/styles/variables.scss" as *;

.wrapper {
  padding: 20px;
  max-width: 1150px;
  margin: 0 auto; 
  padding-top: 63px;

  @include tablet {
  }

  @include desktop {
  }

  .section-wrapper {
    display: grid;
    grid-template: auto auto auto / 49% 49%;
    justify-content: space-between;
    row-gap: 30px;

    @include tablet {
    }

    @include desktop {
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin: 0 auto;
  
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }
  
      @include desktop {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
