$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

$main-color: rgb(11, 66, 122);
$sub-color: rgb(48, 140, 204);

$background-color: #e0ddd4;

$gray-color-100: rgb(209, 206, 206);
$gray-color-200: rgb(170, 166, 166);
$gray-color-300: rgb(138, 131, 131);

@mixin mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}