@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
//font-family: "Metrophobic", sans-serif;
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
//font-family: 'Noto Sans KR', sans-serif;
@font-face {
  font-family: 'NPSfontBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
//font-family: 'NPSfontBold';

.mobile-dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 80px 40px 10px 15px;
  background-color: #fff;

  .btn-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Metrophobic", sans-serif;


    .login-btn,
    .signUp-btn:hover {
      cursor: pointer;
    }
  }

  .mobile-dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .mobile-dropdown-category {
      list-style: none;
      margin-bottom: 0;
      padding: 0;

      .mobile-dropdown-category__title {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 2px solid rgb(138, 131, 131);
        font-size: 20px;
        font-weight: 600;
        font-family: "Metrophobic", sans-serif;
      }

      .mobile-dropdown-category__item {
        padding-left: 5px;
        margin-bottom: 10px;
        font-weight: 400;
        font-family: 'Noto Sans KR', sans-serif;
      }
    }
  }
}

.tablet-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  background-color: #fffcfc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

  .tablet-category {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    padding: 0;

    .tablet-category__item {
      padding-left: 5px;
      border-left: 2px solid rgb(138, 131, 131);
      font-family: 'NPSfontBold';

      &:hover {
        cursor: pointer;
        color: rgb(45, 45, 199);
      }
    }
  }
}

.desktop-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 5%;
  height: 160px;
  background-color: #fffcfc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

  .desktop-category {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    padding: 0;

    .desktop-category__item {
      padding-left: 5px;
      border-left: 2px solid rgb(138, 131, 131);
      font-size: 18px;
      font-weight: 400;
      font-family: 'NPSfontBold';

      &:hover {
        cursor: pointer;
        color: rgb(9, 9, 194);
      }
    }
  }
}