@use "@/styles/variables.scss" as *;

.container {
  position: relative;
  margin: 0 auto;
  padding: 35px 0 48px 0;

  @include tablet {
    max-width: 1150px;
    padding: 60px 15px 50px;
  }

  .control-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    border-top: 1px solid $gray-color-100;
  }
}
