@use "@/styles/variables.scss" as *;

.detached-thumbnail {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  .detached-thumbnail__back-ground {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 170px;
    padding: 5px;
    background-size: 100% 100%;
    background-repeat: "no-repeat";
    background-position: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;

    .detached-thumbnail__info {
      margin: 0;

      span {
        letter-spacing: 1px;
        font-size: 16px;
      }
    }
  }

  .detached-thumbnail__description {
    padding-top: 10px;
    .detached-thumbnail__title {
      overflow: hidden;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;
    }

    .detached-thumbnail__content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 70px;
      margin: 0;
      padding: 10px 0 4px 0;
      word-break: break-word;
      text-overflow: ellipsis;
      font-size: 15px;
      font-family: "Noto Sans KR", sans-serif;
      color: rgb(114, 114, 114);
    }
  }
}