@use "@/styles/variables.scss" as *;
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
//font-family: 'Noto Sans KR', sans-serif;
//모바일 드롭다운 카테고리 하위 폰트

.bbs-post {
  max-width: 1150px;
  margin: 0 auto;
  padding: 10px 0 10px 0;

  .bbs-post__header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gray-color-100;

    .bbs-post__title {
      margin: 10px 0 5px;
      font-size: 20px;
      font-family: "Noto Sans KR", sans-serif;
    }

    .bbs-post__details {
      display: flex;
      justify-content: space-between;
      font-family: "Noto Sans KR", sans-serif;

      .bbs-post__writing-info {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 380px;
        padding: 0;

        li {
          font-size: 15px;
          color: $gray-color-300;
        }

        span {
          padding-left: 5px;
          color: $sub-color;
        }
      }

      .bbs-post__state-info {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        font-size: 15px;

        li {
          color: $gray-color-300;
        }

        .bbs-post__views {
          width: 90px;
        }

        .bbs-post__recommend {
          width: 60px;
        }
        
        .bbs-post__comment {
          width: 70px;
        }

        span {
          padding-left: 5px;
          text-align: center;
          color: $sub-color;
        }
      }
    }
  }

  .bbs-post__content {
    min-height: 500px;
    padding: 40px 0 60px 0;
    font-family: "Noto Sans KR", sans-serif;
  }
}
